<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.TiuConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Ира\ПП\Курсовая_Маша\WindowsFormsApplication8\WindowsFormsApplication8\Tiu.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp2.Properties.Settings.TiuConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\fukur\Documents\Visual Studio 2015\Projects\WindowsFormsApp2\WindowsFormsApp2\Tiu.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp2.Properties.Settings.TiuConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\fukur\Documents\Visual Studio 2015\Projects\WindowsFormsApplication8\WindowsFormsApplication8\Tiu.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>